<!-- <mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts.length>0 && !isLoading">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            {{post.title}}
        </mat-expansion-panel-header>
        <p>{{post.content}}</p>
        <mat-action-row *ngIf="userIsAthenticated && userId ===post.creator">
            <button mat-button color="primary" [routerLink]="['/edit', post.id]">Edit</button>
            <button mat-button color="warn" (click)="listDelete(post.id)">Delete</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion> -->
<ng-container *ngIf="posts.length>0 && !isLoading">
    <h2 style="margin: auto;text-align: center;">List of comments</h2>
    <mat-card class="example-card" *ngFor="let post of posts">
        <mat-card-header >
          <div mat-card-avatar class="example-header-image">
            <img src="../../../assets/images/avtar.png" alt="Avatar"
class="avatar">
          </div>
          <mat-card-title style="padding-top:
1rem;">{{post.title}}</mat-card-title>
        </mat-card-header>

        <mat-card-content style="padding-left: 2rem;padding-top:
        1rem;">
          <p>
            {{post.content}}
          </p>
        </mat-card-content>
        <mat-card-actions *ngIf="userIsAthenticated && userId ===post.creator">
            <button mat-button color="primary" [routerLink]="['/edit',
post.id]">Edit</button>
            <button mat-button color="warn"
(click)="listDelete(post.id)">Delete</button>
        </mat-card-actions>
      </mat-card>
</ng-container>
<h4 style="text-align: center;" *ngIf="posts.length<=0 && !isLoading">Please add list!</h4>